
*{
    box-sizing: border-box;
    margin:0;
}

body{
    font-family: 'DM Sans', sans-serif;

}

/* Reset Css */
a { 
    color: inherit;
    text-decoration: none;
}

button,
textarea,
input 
{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active
{
    outline: none;
    box-shadow: none;
}

ul,
ol,
li{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #2b292d;
    letter-spacing: -0.01em;
}

.fill-button{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    width : 140px;
    height: 48px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: -0.05em;
    color : #ffffff;
    background-color: #3040c4; 
    transition: opacity 300ms ease-in-out;
}

.fill-button:hover {
    opacity: 0.5;
}

.fill-button.inverted{
    color : #3040c4;
    background-color: #ffffff;
}

.section-category{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
}

.section-title{
    font-size: 34px;
    line-height: 1.0588235294;
    letter-spacing: -0.03em;
    color : #2b292d;
    margin-bottom: 24px;
}

.section{
    padding: 80px 0;
}


/* Landing */

.landing {
    text-align: center;
    background-color: #FDDED8;
}
.landing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width : 100%;
    height: 100vh;
}
.first_title {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.05em;
    color : #2b292d;
}

.first_p{
    margin-bottom: 20px;
}

.landing .first_buttonset {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .first_buttonset .fill-button:first-child {
    margin-right: 8px;
}

/* service */
.service {
    padding : 80px 0;
    background-color: #F4F5F7;
}
.service-title {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.3636363636;
    letter-spacing: -0.04em;
    color : #2b292d;
    margin-bottom: 16px;
}

.service .col-12:first-child{
    margin-bottom: 40px;
}

/* Program */
.program .row:first-child {
    margin-bottom: 32px;
}

.program .section-category{
    color : #009b4d;
}

.program .col-md-4 {
    margin-bottom: 20px;
}

.program .col-md-4:last-child {
    margin-bottom: 0;
}


.program-card {
    display: block;
    padding : 24px 0 32px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), 
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    text-align: center;
    transition: background-color 300ms ease-in-out, boxshadow 300ms ease-in-out;
}
.program-card:hover {
    background-color: #3141C5;
    box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
}
.program-card:hover strong{
    color : #fff;
}

.program-card img{
    display: block;
    width : auto;
    height: 195px;
    margin: 0 auto 16px;
}

.program-card strong {
    font-size: 18px;
    line-height: 1.3333333333;
    letter-spacing: -0.02em;
    transition: color 500ms ease-in-out;
}

/* curriculum */
.curriculum {
    padding : 80px 0;
}
.curriculum-first {
    margin-bottom: 48px;
}

.curriculum .section-category {
    color : #0189D1;
}

.curriculum .section-p {
    margin-bottom: 32px;
}

.curriculum-p {
    font-size: 15px;
    line-height: 1.4666666667;
    letter-spacing: -0.01em;
}
.curriculum-p:first-child{
    margin-bottom: 40px;
}
/* .program-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 291px;
}

.campus {
    width: 142px;
    height: 195px;
} */

/* .service {
    background-color: #F4F5F7;
}
.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.second_title {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.3636363636;
    letter-spacing: -0.04em;
}

.second_p {
    font-size : 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
} */

/* 768px 이상 데스크탑*/

@media screen and (min-width : 768px){
    p   {
        font-size: 22px;
        line-height: 1.3636363636;   
        }
    
    .section-category{
        font-size: 22px;
        line-height: 1.0909090909;
        margin-bottom: 16px;
    }
    .section-title{
        font-size: 56px;
        line-height: 1;
        margin-bottom: 32px;
    }

    .section{
        padding-bottom: 96px ;
    }

    /* landing */

    .landing-content {
        height: auto;
        padding : 120px 0;
    }

    .fill-button {
        width: 160px;
        height: 56px;
        font-size: 18px;
        line-height: 1.5555555556;
        letter-spacing: -0.05em;
    }
     
    .first_title {
        font-size: 70px;
        line-height: 1.0285714286;
        margin-bottom: 32px;
    }
    .first_p {
        margin-bottom: 32px;
    }

    .landing .first_buttonset .fill-button:first-child {
        margin-right: 16px;
    }
    /* service */

    .service-title{
        font-size: 26px;
        line-height: 1.3076923077;
    }
    .service .col-12:first-child{
        margin-bottom: 0;
    }

    /* Program */

    .program {
        text-align: center;
    }
    .program .row:first-child {
        margin-bottom: 72px;
    }
    
    .program-card img{
        margin-bottom : 24px;
    }
    .program-card strong{
        font-size: 20px;
        line-height: 1.2;
    }

    /* curriculum */
    .curriculum {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .curriculum-second {
        display: flex;
        justify-content: left;
    }
}

 
/* Custom Grid System - Fix contanier width */
@media screen and (min-width: 1200px){
    .container {
        max-width: 960px !important;
    }
}



/* .container {
    position: relative;
    display : flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FDDED8;
}

.first {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 32px;
}

.first1 {
    text-align: center;
    margin-bottom: 32px;
}

.buttonset {
    display: flex;
    margin-bottom: 120px;
}

.button1 {
    width: 100%;
    height: 56px;
    margin-right: 16px;
    border : none;
    background-color: #3040c4;
    color : white;
    border : 18px solid #3040C4;
    border-radius: 2px;
    
}

.button2 {
    width: 100%;
    height: 56px;
    padding: 32px 14px;
    font-size: 18px;
    font-weight: bold;
    border : none;
    background-color: #fff;
    color: #3040c4;

}  */


   /* Program */



    /* .program-content {
        padding : 80px 0;
    }

    .program-category{
        width: 290px;
        height: 24px;
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 0.6666666667;
        font-weight: 700;
        letter-spacing: -0.01em;
        color : #009B4D;
    }
    .program-title {
        width: 290px;
        height: 72px;
        margin-bottom: 24px;
        font-size: 34px;
        line-height: 0.9444444444;
        font-weight: 700;
        letter-spacing: -0.03em;
        color : #2B292D;
    }

    .program-p{
        width: 290px;
        height: 144px;
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.01em;
    }

    .program-button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        border: ;
        width: 290px;
        height: 291px;
        background-color: #fff;
        
    }

    .campus {
        width: 150px;
        height: 195px;
    } */